%script{:src => "target.js"}
.target-headder
  .current-group
    .current-group__group-name
      = @group.group_name


    .current-group__group-member
      - @group.users.each do |user|
        = user.user_name
    .current-group__edit-btn
      = link_to "グループ編集", edit_group_path(@group) 


  -# .form
  -# = form_for [@group, @targeter] do |f|
  -#   = f.text_field :targeter_name, class: 'form__targeter', placeholder: '新しいターゲット'
  -#   = f.submit '作成', class: 'form__submit'

.target-main
  .targets
    - @group.users.each do |user|
      .target
        .target-name
          %p.targeter-name__name
            -# = @name.current_user.id.target_name
            = @name.targeter_name
        .target-counts
          %p#target1{:onclick => "changeColor('target1');"}/
          %p#target2{:onclick => "changeColor('target2');"}/
          %p#target3{:onclick => "changeColor('target3');"}/
          %p#target4{:onclick => "changeColor('target4');"}/
          %p#target5{:onclick => "changeColor('target5');"}/
          %p#target6{:onclick => "changeColor('target6');"}/
          %p#target7{:onclick => "changeColor('target7');"}/
          %p#target8{:onclick => "changeColor('target8');"}/
          %p#target9{:onclick => "changeColor('target9');"}/
          %p#target10{:onclick => "changeColor('target10');"}/
          %p#target11{:onclick => "changeColor('target11');"}/
          %p#target12{:onclick => "changeColor('target12');"}/
          %p#target13{:onclick => "changeColor('target13');"}/
          %p#target14{:onclick => "changeColor('target14');"}/
          %p#target15{:onclick => "changeColor('target15');"}/
        .target-user
          = user.user_name


    -# .target
    -#   .target-name
    -#     %p.targeter-name__name
    -#       = @name.targeter_name
    -#   .target-counts
    -#     %p#target1{:onclick => "changeColor('target1');"}/
    -#     %p#target2{:onclick => "changeColor('target2');"}/
    -#     %p#target3{:onclick => "changeColor('target3');"}/
    -#     %p#target4{:onclick => "changeColor('target4');"}/
    -#     %p#target5{:onclick => "changeColor('target5');"}/
    -#     %p#target6{:onclick => "changeColor('target6');"}/
    -#     %p#target7{:onclick => "changeColor('target7');"}/
    -#     %p#target8{:onclick => "changeColor('target8');"}/
    -#     %p#target9{:onclick => "changeColor('target9');"}/
    -#     %p#target10{:onclick => "changeColor('target10');"}/
    -#     %p#target11{:onclick => "changeColor('target11');"}/
    -#     %p#target12{:onclick => "changeColor('target12');"}/
    -#     %p#target13{:onclick => "changeColor('target13');"}/
    -#     %p#target14{:onclick => "changeColor('target14');"}/
    -#     %p#target15{:onclick => "changeColor('target15');"}/
    -#   .target-user
    -#     = current_user.user_name

    -# .target
    -#   .target-name
    -#     %p.targeter-name__name
    -#       = @name.targeter_name
    -#   .target-counts
    -#     %p#target1{:onclick => "changeColor('target1');"}/
    -#     %p#target2{:onclick => "changeColor('target2');"}/
    -#     %p#target3{:onclick => "changeColor('target3');"}/
    -#     %p#target4{:onclick => "changeColor('target4');"}/
    -#     %p#target5{:onclick => "changeColor('target5');"}/
    -#     %p#target6{:onclick => "changeColor('target6');"}/
    -#     %p#target7{:onclick => "changeColor('target7');"}/
    -#     %p#target8{:onclick => "changeColor('target8');"}/
    -#     %p#target9{:onclick => "changeColor('target9');"}/
    -#     %p#target10{:onclick => "changeColor('target10');"}/
    -#     %p#target11{:onclick => "changeColor('target11');"}/
    -#     %p#target12{:onclick => "changeColor('target12');"}/
    -#     %p#target13{:onclick => "changeColor('target13');"}/
    -#     %p#target14{:onclick => "changeColor('target14');"}/
    -#     %p#target15{:onclick => "changeColor('target15');"}/
    -#   .target-user
    -#     = current_user.user_name

