%script{:src => "target.js"}
.target-headder
  .current-group
    .current-group__group-name
      = @group.group_name


    .current-group__group-member
      - @group.users.each do |user|
        = user.user_name
    .current-group__edit-btn
      = link_to "edit", edit_group_path(@group) 


  .form
  = form_for [@group, @targeter] do |f|
    = f.text_field :targeter_name, class: 'form__targeter', placeholder: 'type a targeter'
    = f.submit 'Send', class: 'form__submit'
  -# .edit-btn
  -#   編集
.target-main
  .targets
    .target
      .target-name
        %p.targeter-name__name
          = @name.targeter_name
      .target-counts
        -# %canvas#testcanvas2
        -# %p#target1
        %p#target1{:onclick => "changeColor('target1');"}/
        %p#target2{:onclick => "changeColor('target2');"}/
        %p#target3{:onclick => "changeColor('target3');"}/
        %p#target4{:onclick => "changeColor('target4');"}/
        %p#target5{:onclick => "changeColor('target5');"}/
        %p#target6{:onclick => "changeColor('target6');"}/
        %p#target7{:onclick => "changeColor('target7');"}/
        %p#target8{:onclick => "changeColor('target8');"}/
        %p#target9{:onclick => "changeColor('target9');"}/
        %p#target10{:onclick => "changeColor('target10');"}/
      .target-user
        = current_user.user_name
    -# .second-target
    -#   .second-target__target-name
    -#     30分ジョギング
    -#   .second-target__target-counts
    -#   .second-target__target-user
    -#     しほ
    -# .third-target
    -#   .third-target__target-name
    -#     回し車で夜中走る
    -#   .third-target__target-counts
    -#   .third-target__target-user
    -#     はむお
-# .form
-#   = form_for [@group, @targeter] do |f|
-#     = f.text_field :targeter_name, class: 'form__targeter', placeholder: 'type a targeter'
-#     .form__mask
-#       -# = f.label :image, class: 'form__mask__image' do
-#         -# = icon('fas', 'image', class: 'icon')
-#         -# = f.file_field :image, class: 'hidden'
-#     = f.submit 'Send', class: 'form__submit'