.target-headder
  .current-group
    .current-group__group-name
      = @group.group_name


    .current-group__group-member
      - @group.users.each do |user|
        = user.user_name
    .current-group__edit-btn
      = link_to "edit", edit_group_path(@group) 


  .form
  = form_for [@group, @targeter] do |f|
    = f.text_field :targeter_name, class: 'form__targeter', placeholder: 'type a targeter'
    = f.submit 'Send', class: 'form__submit'
  -# .edit-btn
  -#   編集
.target-main
  .targets
    .target
      .target__target-name
        %p.targeter-name__name
          = @name.targeter_name
      .target__target-counts
      .target__target-user
        = user.user_name

        -# 今のグループのユーザーを取得
        -# そのユーザーのタイトルを表示
        -# そのユーザーの名前を表示

-# .form
-#   = form_for [@group, @targeter] do |f|
-#     = f.text_field :targeter_name, class: 'form__targeter', placeholder: 'type a targeter'
-#     .form__mask
-#       -# = f.label :image, class: 'form__mask__image' do
-#         -# = icon('fas', 'image', class: 'icon')
-#         -# = f.file_field :image, class: 'hidden'
-#     = f.submit 'Send', class: 'form__submit'