#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h5 アカウントの編集　/ 
      =link_to "　ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
    .account-page__inner--right.user-form
      = form_for(current_user) do |f|
        .field-name
          .field-name-lavel
            = f.label :名前
          .field-name-input
            = f.text_field :user_name, autofocus: true, autocomplete: "user_name"
        .field-email
          .field-email-label
            = f.label :メールアドレス
          .field-email-input
            = f.email_field :email, autocomplete: "email"
        .actions
          = f.submit "更新", class: 'btn'